/****************** starup ****************/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');
*{
    margin: 0;padding: 0;
    box-sizing: border-box;
    transition: all ease-in-out .3s;
}
:root{ 
    --heading-text: 'Roboto', sans-serif;
    --paragraph-text: 'Poppins', sans-serif;
    --main-color: #1c6758;
    --main-color2: #000;
    --main-color3: #54b435;
    --grey-bc: #d1e0dd;
}
/***************** basic *****************/
body{
    scroll-behavior: smooth;
    height: 200vh;
}
body::-webkit-scrollbar{
    display: none;
}
body li{
    list-style: none;
}
body h1{
    font-weight: 700;
    letter-spacing: 0;
    font-size: 40px;
    font-family: var(--heading-text);
}
body h3{
    font-weight: 600;
    letter-spacing: 0;
    font-size: 20px;
    font-family: var(--heading-text);
}
body a{
    font-size: 14px;
    text-decoration: none;
    font-family: var(--paragraph-text);
}
body p{
    font-size: 14px;
    letter-spacing: .5px;
    font-family: var(--paragraph-text);
}
img{
    width: 100%;
    height: 100%;
}
.container{
    padding: 70px 100px;
}
.section-header{
    margin-bottom: 50px;
}
.section-header p{
    margin-top: 10px;
}
/* header */
header{
    height: 110vh;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.384), rgba(0, 0, 0, 0.288)), url(img/header.jpg);
    background-size: cover;
    background-size: cover;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
}
.nav-right{
    display: flex;
    align-content: center;
    gap: 1.5rem;
}
nav a{
    color: #fff;
    font-weight: 500;
}
nav img{
    width: 80px;
}
nav .active{
    color: var(--main-color2);
}
/* hero */
.hero{
    height: 90vh;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
}
.hero-data{
    padding: 40px;
    background-color: var(--main-color2);
    color: #fff;
    box-shadow: 15px 15px 0 var(--main-color3);
}
.hero h3{
    text-transform: uppercase;
    color: var(--main-color3);
    margin-bottom: 10px;
}
.hero h1{
    font-size: 50px;
    margin-bottom: 10px;
    line-height: 60px;
}
.hero a{
    margin-top: 20px;
    display: inline-block;
    padding: 10px 30px;
    background-color: var(--main-color3);
    color: #fff;
}
.hero article{
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    left: 5%;
}
.hero article div{
    padding: 6px;
    border: 4px solid #fff;
    margin-bottom: 10px;
    border-radius: 50%;
}
.hero .active{
    border: 4px solid var(--main-color3);
}
/* about */
.about{
    display: grid;
    grid-template-columns: 50% 46%;
    justify-content: space-between;
    align-items: center;
}
.about-data1{
    position: relative;
    display: grid;
    grid-template-columns: 48% 48%;
    justify-content: space-between;
}
.about-data1 article{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.about-data1 article img{
    height: 48% !important
}
.about h3{
    color: var(--main-color);
    text-transform: uppercase;
    margin-bottom: 10px;
}
.about h1{
    font-size: 40px;
    line-height: 50px;
    text-transform: uppercase;
}
.about p{
    margin-top: 20px;
    margin-bottom: 20px;
}
.about a{
    display: inline-block;
    padding: 10px 40px;
    font-weight: 500;
    color: #fff;
    background-color: var(--main-color);
}
.about a i{
    padding-left: 5px;
}
.about-data1 div div{
    position: absolute;
    bottom: 15%;
    left: -5%;
    background-color: #fff;
    border-left: 5px solid var(--main-color);
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.about-data1 div div h1{
    height: 60px;
    padding: 10px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    border-radius: 50px;
    background-color: var(--main-color);
    color: #fff;
}
.about-data1 div div h3{
    font-size: 16px;
}
/* tour */
.tour-header p{
    color: grey;
}
.tour-data{
    display: grid;
    grid-template-columns: 32% 32% 32%;
    justify-content: space-between;
}
.tour-content{
    position: relative;
    margin-bottom: 30px;
}
.tour-content h3{
    text-transform: uppercase;
    margin-bottom: 5px;
}
.tour-content article{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 20px 20px;
    background-color: #00000091;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    color: #fff;
}
.tour-content article p{
    margin-top: 5px;
    font-size: 10px;
}
.tour i{
    font-size: 25px;
}
/* pricing */
.price-header{
    text-align: center;
}
.price-header p{
    color: grey;
}
.price-data{
    display: grid;
    grid-template-columns: 31% 31% 31%;
    justify-content: space-between;
}
.price-content{
    text-align: center;
    border: .3px solid grey;
    box-shadow: 5px 5px 10px rgba(128, 128, 128, 0.192);
}
.price-content div{
    padding: 40px;
}
.price-content p{
    margin-bottom: 20px;
}
.price-content article{
    margin-bottom: 40px;
}
.price-content h3{
    text-transform: uppercase;
    margin-bottom: 10px;
}
.price-content h1{
    font-size: 50px;
    margin-bottom: 10px;
}
.price-content a{
    margin-top: 20px;
    display: inline-block;
    padding: 10px 30px;
    background-color: var(--main-color);
    color: #fff;
    border-radius: .5rem;
}
.price .active{
    padding: 20px;
    background-color: var(--main-color);
    margin-bottom: 0 !important;
    color: #fff;
}
.price .active2{
    background-color: var(--main-color2);
    color: #fff;
    padding: 40px 40px 40px 40px !important;
}
.price i{
    color: var(--main-color);
}
/* testim */
.testim{
    background-color: var(--grey-bc);
    position: relative;
}
.testim-header{
    text-align: center;
}
.testim-data{
    display: grid;
    grid-template-columns: 31% 31% 31%;
    justify-content: space-between;
}
.testim-1{
    border-top-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
    background-color: var(--main-color);
    color: #fff;
    padding: 40px;
}
.testim-1 img{
    width: 50px;
    margin-top: 20px;
}
.testim-2{
    margin-top: 20px;
    display: flex;
    gap: 1rem;
    align-items: center;
}
.testim-2 img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}
.testim .active{
    margin-top: 40px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}
.testim .active div{
    height: 10px;
    border-radius: 2rem;
    width: 30px;
    background-color: var(--main-color3);
    margin: 5px;
}
.testim .active .active1{
    background-color: var(--main-color) !important;
}
/* contact */
.contact{
    background-color: var(--grey-bc);
}
.contact-content{
    display: grid;
    grid-template-columns: 35% 65%;
    justify-content: space-between;
    align-items: center;
}
.contact h1{
    color: #fff;
    margin-bottom: 20px;
}
.contact-data{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    background: linear-gradient(to bottom, var(--main-color3), var(--main-color3));
    color: #000;
    height: 500px;
}
.contact-data h3{
    line-height: 50px;
    color: #fff;
    margin-bottom: 20px;
}
.contact-data p{
    margin-bottom: 20px;
    color: #fff;
    font-size: 14px;
}
.contact-data2{
    padding: 40px 40px;
    background-color: var(--main-color);
}
.input-double{
    display: grid;
    grid-template-columns: 49% 49%;
    justify-content: space-between;
}
.input-double input, .contact-content textarea{
    padding: 15px;
    margin-bottom: 20px;
    border: none;
    width: 100%;
}
.input-double input::placeholder{
    color: #000;
}
.contact-content textarea::placeholder{
    color: BLACK;
}
.contact-content textarea{
    height: 100px;
}
.contact-data2 a{
    padding: 10px 20px;
    font-size: 14px;
    height: 45px !important;
    text-align: center;
    background-color: var(--main-color2);
    color: #fff;
}
/* client */
.client{
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    justify-content: space-between;
    background-color: var(--grey-bc);
}
.client-data{
    background-color: #fff;
    padding: 30px;
    margin-bottom: 30px;
}
.client img{
    margin: 0 auto;
    display: block;
    width: 70%;
    height: 70px;
}
.client h1{
    font-size: 30px;
}
.client span{
    color: var(--main-color);
}
.client .active{
    background-color: #fff;
    padding: 20px;
    margin-bottom: 30px;
}
/* footer */
footer{
    display: grid;
    grid-template-columns: 45% 25% 25%;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background: var(--main-color2);
}
.footer-data1{
    padding: 0 50px;
}
footer img{
    width: 150px;
    height: auto !important;
    margin-bottom: 10px;
}
footer p{
    color: #fff;
}
footer h2{
    font-size: 30px;
    margin-bottom: 20px;
    color: #fff;
    font-family: var(--paragraph-text);
}
footer h2 span{
    color: var(--main-color);
}
footer h3{
    color: var(--main-color);
    font-size: 20px;
    margin-bottom: 15px;
}
footer .bil{
    padding: 10px 20px;
    background-color: var(--main-color);
    color: #ffff;
    margin-top: 20px;
    display: inline-block;
    font-weight: 600;
}
footer a{
    font-size: 14px;
    color: #fff;
    display: block;
    text-transform: uppercase;
    margin-bottom: 1cqw;
}
.footer-data3 a{
    display: flex;
    gap: .3rem;
    margin-bottom: 20px;
}
.footer-icons i{
    margin-top: 10px;
    background-color: var(--main-color);
    padding: 15px;
    font-size: 20px;
    margin-right: 5px;
    color: #Fff;
}